#page{
    margin-top: 10px;
}

.nav-pills li {
    margin-left: 5px;
    margin-right: 5px;
}

.right{
  float: right;
}

p.border{
    padding: 5px;
}

.about-pic{
    margin-left: 10px;
}

#inline{
    display: inline;

}

.disabled:hover{
    cursor: not-allowed;
}

.resume{
    background-color: #f1f1f1;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

textarea{
    resize: none;
    padding: 5px;
    height: 100px;
}

footer > .card > .card-body{
    text-align: center;
    background-color: #f1f1f1;
}

@media (min-width: 768px){
    .cert-display{
        width: 75%;
    }
}