#page{
    margin-top: 10px;
}

.nav-pills li {
    margin-left: 5px;
    margin-right: 5px;
}

.right{
  float: right;
}

p.border{
    padding: 5px;
}

.about-pic{
    margin-left: 10px;
}

#inline{
    display: inline;

}

.disabled:hover{
    cursor: not-allowed;
}

.resume{
    background-color: #f1f1f1;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

textarea{
    resize: none;
    padding: 5px;
    height: 100px;
}

footer > .card > .card-body{
    text-align: center;
    background-color: #f1f1f1;
}

@media (min-width: 768px){
    .cert-display{
        width: 75%;
    }
}

@media(max-width: 992px){
    .carousel-item {
        height: 50vh;
        width: auto;
    }
}

@media(max-width: 1199px) {
    .carousel-item {
        height: 50vh;
        width: auto;
    }
}

@media(min-width: 1200px) {
    .carousel-item {
        height: 70vh;
        width: auto;
    }
}

.carousel-image{
    width: 100%;
    height: auto;
}

.dark{
    color: black;
}