{% extends 'macros/base.html' %}

{% block title %}
  - About Me
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>About Me</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <img class='pull-right about-pic' src="https://via.placeholder.com/300x450"/>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              My Story
            </h5>
            <div class="card-text">
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
            </div>
          </div>
        </div>
        <br/>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              My Hard Skills
            </h5>
            <div class="card-text">
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
            </div>
          </div>
        </div>
        <br/>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              My Soft Skills
            </h5>
            <div class="card-text">
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
              My name is Brian Weinfeld and I am an aspiring Data Scientist. I currently live in the Vancouver metro area.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}