{% extends 'macros/base.html' %}

{% block title %}
  - Api v1
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-12">
        <div class="jumbotron">
          <h1>API v1</h1>
        </div>
      </div>
      {{ super() }}
      <div class="row">
        <div class="col-12 offset-lg-1 col-lg-10">
          <div class="card">
            <div class="card-body">
              This site has a robust API for making GET requests. The below examples illustrate the various API requests
              can be made. As of this time no API key or password is required and there are no limits on the number of
              requests.
            </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      {{ api1.display('Contact', url_for('api1.contact', _external=True), 'Returns current contact and resume resource information') }}
      {{ api1.display('Resume', url_for('api1.resume', _external=True), 'Returns a PDF of my current resume') }}
      {{ api1.display('Certifications', url_for('api1.certifications', _external=True), 'Returns information on my current official certifications') }}
      {{ api1.display('All Projects', url_for('api1.projects', _external=True), 'Returns comprehensive information on all portfolio projects') }}
      {{ api1.display('Single Project By ID', url_for('api1.project_id', id=1, _external=True),
        'Returns comprehensive information on a single project, identified by ID number.') }}
      {{ api1.display('Projects by Tag ID', url_for('api1.project_tag_id', id=1, _external=True),
        'Returns comprehensive information on all projects that contain Tag, identified by Tag ID.') }}
      {{ api1.display('Projects by Tag String', url_for('api1.project_tag', tag='python', _external=True),
        'Returns comprehensive information on all projects that contain Tag, identified by String.') }}
      {{ api1.display('All Tags', url_for('api1.tags', _external=True), 'Returns id and name of all Tags') }}
      {{ api1.display('Project Name by Tag ID', url_for('api1.tags_id', tag_id=1, _external=True),
        'Returns id and project name of all Projects that contain Tag by tag id.') }}
    </div>
  </div>
{% endblock %}