{% import 'macros/carousel_slide.html' as carousel %}
{% extends 'macros/base.html' %}

{% block title %}
{% endblock %}

{%  block content %}
  <div id="page">
    {{ super() }}
    <div class="container-fluid">
      <div class="col-12 offset-lg-1 col-lg-10 d-none d-md-block">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              My first goal after graduating college was to spend some time giving back to the community.
              I had recently read the statistic that nearly half of United States public schools had no computer
              science program of any kind and I knew right then that I needed to give back to field that had given
              me so much.
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container-fluid">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {{ carousel.slide('images/1.jpg', 'images/1_1.jpg', 'Quality Time With Cody', 'San Diego, CA', 'active')}}
          {{ carousel.slide('images/2.jpg', 'images/2_1.jpg', 'Learning To Surf', 'La Jolla, CA', '')}}
          {{ carousel.slide('images/3.jpg', 'images/3_1.jpg', 'Building My Computer', 'Denville, NJ', '')}}
          {{ carousel.slide('images/4.jpg', 'images/4_1.jpg', 'Comiccon', 'San Diego, CA', '')}}
          {{ carousel.slide('images/5.jpg', 'images/5_1.jpg', 'Scuba Diving', 'Turks and Caicos', '')}}
          {{ carousel.slide('images/6.jpg', 'images/6_1.jpg', 'Fushimi Inari Shrine', 'Kyoto, Japan', '')}}
          {{ carousel.slide('images/7.jpg', 'images/7_1.jpg', 'Bungee Jumping', 'Los Angeles, CA', '')}}
          {{ carousel.slide('images/8.jpg', 'images/8_1.jpg', 'Landing In Hawaii', 'Kauai, HW', '')}}
        </div>
        <a class="carousel-control-prev stay" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next stay" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-12 d-block d-md-none">
        <br/>
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              My first goal after graduating college was to spend some time giving back to the community.
              I had recently read the statistic that nearly half of United States public schools had no computer
              science program of any kind and I knew right then that I needed to give back to field that had given
              me so much.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}