{% extends 'macros/base.html' %}

{% block title %}
{% endblock %}

{%  block content %}
  <div id="page">
    {{ super() }}
    <br/>
    <div class="container-fluid">
      <div class="offset-1 col-10">
        <div class="polaroid-images d-none d-md-block">
          <span title="Cody Says 'Hi'"><img height="300" src="{{ url_for('static', filename='images/1.jpg') }}" title="Cody Says 'Hi'" /></span>
          <span title="Wakeboarding"><img height="300" src="{{ url_for('static', filename='images/4.jpeg') }}" title="Wakeboarding" /></span>
          <span title="Turks and Caicos"><img height="300" src="{{ url_for('static', filename='images/5.JPG') }}" title="Turks and Caicos" /></span>
          <span title="Fushimi Inari Shrine"><img height="300" src="{{ url_for('static', filename='images/6.jpg') }}" title="Fushimi Inari Shrine" /></span>
          <span title="Los Angeles"><img height="300" src="{{ url_for('static', filename='images/7.JPG') }}" title="Los Angeles" /></span>
          <span title="My PC Build"><img height="300" src="{{ url_for('static', filename='images/3.JPG') }}" title="My PC Build" /></span>
          <span title="Hawaii"><img height="300" src="{{ url_for('static', filename='images/8.JPG') }}" title="Hawaii" /></span>
          <span title="La Jolla"><img height="300" src="{{ url_for('static', filename='images/2.JPG') }}" title="La Jolla" /></span>
        </div>
        <div class="polaroid-images d-sm-block d-md-none">
          <span title="Cody Says 'Hi'"><img height="200" src="{{ url_for('static', filename='images/1.jpg') }}" title="Cody Says 'Hi'" /></span>
          <span title="Wakeboarding"><img height="200" src="{{ url_for('static', filename='images/4.jpeg') }}" title="Wakeboarding" /></span>
          <span title="Turks and Caicos"><img height="200" src="{{ url_for('static', filename='images/5.JPG') }}" title="Turks and Caicos" /></span>
          <span title="Fushimi Inari Shrine"><img height="200" src="{{ url_for('static', filename='images/6.jpg') }}" title="Fushimi Inari Shrine" /></span>
          <span title="Los Angeles"><img height="200" src="{{ url_for('static', filename='images/7.JPG') }}" title="Los Angeles" /></span>
          <span title="My PC Build"><img height="125" src="{{ url_for('static', filename='images/3.JPG') }}" title="My PC Build" /></span>
          <span title="Hawaii"><img height="200" src="{{ url_for('static', filename='images/8.JPG') }}" title="Hawaii" /></span>
          <span title="La Jolla"><img height="125" src="{{ url_for('static', filename='images/2.JPG') }}" title="La Jolla" /></span>
        </div>
    </div>
      </div>
    </div>
  </div>
{% endblock %}