{% import 'macros/carousel_slide.html' as carousel %}
{% extends 'macros/base.html' %}

{% block title %}
{% endblock %}

{%  block content %}
  <div id="page">
    {{ super() }}
    <div class="container-fluid">
      <div class="col-12 offset-lg-1 col-lg-10">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Welcome to My Data Science Site!</h3>
            <div class="card-text">
              On my site you can find my resume and contact information as well as descriptions of my recent data
              science projects complete with links to the corresponding Github repos. Take a moment to explore and
              please feel free to send me a message. I am always happy to discuss my projects!
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container-fluid">
      {% for highlight in highlights %}
        {% if  loop.cycle('odd', 'even') == 'odd'%}
          {{ highlight_display.display_left(highlight) }}
        {% else %}
          {{ highlight_display.display_right(highlight) }}
        {% endif %}
        <br/>
      {% endfor %}
    </div>
  </div>
{% endblock %}