{% extends 'macros/base.html' %}

{% block title %}
  - Projects
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>Projects</h1>
        </div>
      </div>
      <div class="col-offset-1 col-12">
        <div class="card">
          <div class="card-body">
            Here you will find a variety of sample projects I have completed. These projects are either small or large in
            scope. Each project has a separate page describing the task, the workflow and the outcome. Projects may include
            a video if it is necessary for the project.
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Small Projects</h5>
              <div class="card-text">
                <ul>
                  {% for ele in small %}
                    <li><a href="{{ url_for('main.display_project', slug=ele.slug) }}">{{ ele.title }}</a> {{ ele.published }} - {{ ele.description }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Large Projects</h5>
              <div class="card-text">
                <ul>
                  {% for ele in large %}
                    <li><a href="{{ url_for('main.display_project', slug=ele.slug) }}">{{ ele.title }}</a> {{ ele.published }} - Description</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}