{% extends 'macros/base.html' %}

{% block title %}
  - Project 1
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>
            Font Color Predictor
          </h1>
        </div>
      </div>
    </div>
    <div class="col-offset-1 col-12">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/projects-1' %} disabled {% endif %}" href="{{ url_for('main.display_project', id=id-1) }}"><i class='fa fa-arrow-left fa-x'></i> Previous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class='fa fa-envelope fa-x'></i> Contact Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class='fa fa-github fa-x'></i> Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Next <i class='fa fa-arrow-right fa-x'></i></a>
        </li>
      </ul>
    </div>
    <br/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-offset-1 col-12 col-md-9">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Abstract</h5>
              <div class="card-text">
                This project is designed to decide which of two potential font colors is better suited for reading text
                against any color background. Machine learning is used to give individualized results for each user.
                Users answer 100 preferential questions displayed in a tkinter window and this information is used to
                predict future responses. Font colors may be selected or chosen randomly.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tags</h5>
              <div class="card-text">
                <ul>
                  <li>Python</li>
                  <li>Machine Learning</li>
                  <li>Pandas</li>
                  <li>Scikit-Learn</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Discussion
              </h5>
              <div class="card-text">
                In designing this project, I made a number of conscious decisions to keep the project as small as possible.
                Instead of looking for a comprehensive solution to the task, I instead wanted to focus on just how much
                of the task was achievable with a minimal amount of code.
                For example, the program generates the background colors randomly instead of systematically presenting
                a representative sample of the overall color palette. In fact, it is theoretically possible for the same
                color to be displayed twice (and for the user to pick a different answer each time). Possible extensions
                to this project could include addressing this issue and allowing for multi-classification instead of
                just two colors.
                Despite these purposeful limitations, the algorithm is able to achieve over 90% accuracy on the validation set.
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Video
          </h5>
          <img src="https://via.placeholder.com/800x600"/>
        </div>
      </div>
    </div>

  </div>
{% endblock %}