{% extends 'macros/base.html' %}

{% block title %}
  - Resume
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>Resume</h1>
        </div>
      </div>
      {{ super() }}
      <div class="col-12 d-xs-block d-lg-none">
        <div class="card">
          <div class="card-body">
            I'm sorry, my resume cannot be displayed on a screen this small. Please click the 'Resume Download' button
            in the navbar to download a copy of my resume. I'm sorry for the inconvenience.
          </div>
        </div>
      </div>
      <div class="col-12 d-none d-lg-block">
        <div class="card resume-resume">
          <div class="card-body">
            <div id="resume-left">
    <h1 class='resume-h1' id="resume-name">Brian Weinfeld</h1>
    <h3 class='resume-h3' id="resume-title">BrianDoesDataScience.com</h3>
    <div id="resume-personal-info">
      <div class="resume-section-title">
        <h3 class="resume-h3">Personal</h3>
      </div>
      <ul class="resume-left-list resume-personal-list">
        <li>(908) 451-1746</li>
        <li>brian.weinfeld@gmail.com</li>
        <li>Vancouver, BC</li>
        <li>github.com/brian-w-projects</li>
        <li>linkedin.com/in/brian-weinfeld</li>
      </ul>
    </div>
    <div id="resume-soft-skills">
      <div class="resume-section-title">
        <h3 class='resume-h3'>Soft Skills</h3>
      </div>
      <ul class="resume-left-list resume-personal-list">
        <li>Crafting and Delivering Public Presentations</li>
        <li>Articulating Technical Insights Clearly and Effectively</li>
        <li>Producing against Hard Deadlines through Agile Development</li>
        <li>Developing Analytic Solutions to Abstract Business Challenges</li>
      </ul>
    </div>
    <div id="resume-certifications">
      <div class="resume-section-title">
        <h3 class='resume-h3'>Certifications</h3>
      </div>
      <ul class="resume-left-list resume-personal-list">
        <li>Java 8 Oracle Certified Professional</li>
      </ul>
    </div>
    <div class="resume-honors">
      <div class="resume-section-title">
        <h3 class="resume-h3">Honors</h3>
      </div>
      <ul class="resume-left-list resume-personal-list">
        <li>Four Time National Merit Scholor honoree for Computer Science education</li>
        <li>Rutgers University Nancy H. Dorr distinguished teacher award</li>
      </ul>
    </div>
    <div id="resume-trainings">
      <div class="resume-section-title">
        <h3 class='resume-h3'>Recent Trainings</h3>
      </div>
      <ul class="resume-left-list resume-personal-list">
        <li>Data Engineering on Google Cloud Platform, Coursera</li>
        <li>Developer Training for Spark and Hadoop, Cloudera</li>
      </ul>
    </div>
  </div>
  <div id="resume-right">
    <div id="resume-summary">
      <p id="resume-log-line">
        Talented programmer with management experience, strong creative vision, and robust statistics and machine learning
        background. Adept public speaker with proficiency crafting persuasive
        presentations for maximum understanding and engagement. Lifelong learner with passion and curiosity for all
        things computer and data science.
      </p>
    </div>
    <div id="resume-programming">
      <div class="resume-right-section-title">
        <h2 class="resume-h2">Programming</h2>
      </div>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header resume-school-header-1">
            Languages
          </p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-programming-info resume-school-header-1">
            Python (incl. Keras, Pandas), Java (OCP Certification), R (incl. Tidyverse), SQL
          </p>
        </div>
      </div>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header resume-school-header-1">
            Frameworks
          </p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-programming-info resume-school-header-1">
            Spark, Flask
          </p>
        </div>
      </div>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header resume-school-header-1">
            Other
          </p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-programming-info resume-school-header-1">
            Cloud Computing (GCP), Data Visualization, Version Control (Git), Docker, Jupyter
          </p>
        </div>
      </div>
    </div>
    <p></p>
    <div id="resume-experience">
      <div class="resume-right-section-title">
        <h2 class="resume-h2">Work History</h2>
      </div>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header">2019-</p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-school-header resume-school-header-1">
            Regional Manager
          </p>
          <p class="resume-school-header resume-school-header-2">Microsoft Philanthropies TEALS, Vancouver, BC</p>
        </div>
      </div>
      <ul class="resume-ul">
        <li>Managed 12 schools and 50 volunteers in the Vancouver metro area</li>
        <li>Analyzed trends in national TEALS databases to direct future outreach</li>
        <li>Created and presented training seminars and program development pitches</li>
        <li>Updated and refined multiple curricula</li>
        <li>Performed community outreach to underprivileged and indigenous communities</li>
      </ul>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header">2011-2018</p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-school-header resume-school-header-1">
            Advanced Placement Computer Science and Statistics Teacher</p>
          <p class="resume-school-header resume-school-header-2">Summit Senior High School, Summit, NJ</p>
        </div>
      </div>
      <ul class="resume-ul">
        <li>Directed computer science program as sole teacher in district</li>
        <li>Designed engaging, project-based curricula focusing on OOP and algorithmic intuition</li>
        <li>Spearheaded outreach program which increased CS class enrollment sixfold</li>
        <li>Achieved 100% student passing rate on all Computer Science and Statistics AP exams</li>
        <li>Founded and coached American Computer Science League team</li>
      </ul>
      <div class="resume-school-ele">
        <div class="resume-sub-left">
          <p class="resume-school-header">2007</p>
        </div>
        <div class="resume-sub-right">
          <p class="resume-school-header resume-school-header-1">
            Internship - iAdverto.com
          </p>
        </div>
      </div>
      <ul class="resume-ul">
        <li>Shadowed feature development team for several sprints</li>
        <li>Provided research insight to facilitate feature creation</li>
      </ul>
    </div>
    <p></p>
    <div id="resume-education">
      <div class="resume-right-section-title">
        <h2 class="resume-h2">Education</h2>
      </div>
      <div class="resume-school">
        <div class="resume-school-ele">
          <div class="resume-sub-left">
            <p class="resume-school-header">2019</p>
          </div>
          <div class="resume-sub-right">
            <p class="resume-school-header resume-school-header-1">M. S. in Data Science</p>
            <p class="resume-school-header resume-school-header-1 resume-school-header-2">
              City University of New York (CUNY), SPS
            </p>
          </div>
        </div>
        <p></p>
        <ul class="resume-ul">
          <li>4.0 GPA</li>
          <li>Courses: Machine and Deep Learning, Big Data Management, Business Analytics</li>
        </ul>
        <div class="resume-school-ele">
          <div class="resume-sub-left">
            <p class="resume-school-header">2016</p>
          </div>
          <div class="resume-sub-right">
            <p class="resume-school-header resume-school-header-1">M. S. in Educational Technology</p>
            <p class="resume-school-header resume-school-header-1 resume-school-header-2">
              Ramapo College of New Jersey, Graduate School
            </p>
          </div>
        </div>
        <p></p>
        <ul class="resume-ul">
          <li>4.0 GPA</li>
          <li>Courses: Data Analysis, Advanced Web Development, Information Visualization</li>
        </ul>
        <div class="resume-school-ele">
          <div class="resume-sub-left">
            <p class="resume-school-header">2011</p>
          </div>
          <div class="resume-sub-right">
            <p class="resume-school-header resume-school-header-1">Ed. M. in Mathematics Education</p>
            <p class="resume-school-header resume-school-header-1 resume-school-header-2">
              Rutgers, The State University of New Jersey, GSE
            </p>
          </div>
        </div>
        <p></p>
        <ul class="resume-ul">
          <li>4.0 GPA</li>
          <li>Courses: Problem Solving, Cultural Diversity, Methods of Teaching Secondary Math</li>
        </ul>
        <div class="resume-school-ele">
          <div class="resume-sub-left">
            <p class="resume-school-header">2007</p>
          </div>
          <div class="resume-sub-right">
            <p class="resume-school-header resume-school-header-1">
              B. A. in Computer Science w/ Statistics Minor
            </p>
            <p class="resume-school-header resume-school-header-1 resume-school-header-2">
              Rutgers, The State University of New Jersey, School of Sciences
            </p>
          </div>
        </div>
      </div>
      <p></p>
    </div>
  </div>



          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}