{% extends 'macros/base.html' %}

{% block title %}
  - Resume
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>Resume</h1>
        </div>
      </div>
      {{ super() }}
      <div class="col-12 d-xs-block d-lg-none">
        <div class="card">
          <div class="card-body">
            I'm sorry, my resume cannot be displayed on a screen this small. Please click the 'Resume Download' button
            in the navbar to download a copy of my resume. I'm sorry for the inconvenience.
          </div>
        </div>
      </div>
      <div class="col-12 d-none d-lg-block">
        <div class="card resume-resume">
          <div class="card-body">
            <div id="resume-left">
              <h1 class='resume-h1' id="resume-name">Brian Weinfeld</h1>
              <h3 class='resume-h3' id="resume-title">my.website.here</h3>
              <div id="resume-personal-info">
                <div class="resume-section-title">
                  <h3 class="resume-h3">Personal</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>(908) 451-1746</li>
                  <li>brian.weinfeld@gmail.com</li>
                  <li>Vancouver, BC</li>
                  <li>github.com/brian-w-projects</li>
                  <li>linkedin.com/in/brian-weinfeld</li>
                </ul>
              </div>
              <div id="resume-programming">
                <div class="resume-section-title">
                  <h3 class='resume-h3'>Programming</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>Python (incl. Scikit-learn, Keras, Pandas)</li>
                  <li>R (incl. Tidyverse)</li>
                  <li>Java</li>
                  <li>SQL</li>
                  <li>Graph Databases (incl. GraphX, Neo4j</li>
                  <li>Distributed Computing (incl. Spark)</li>
                </ul>
              </div>
              <div id="resume-additional">
                <div class="resume-section-title">
                  <h3 class='resume-h3'>Additional Experience</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>Cloud Computing (GCP)</li>
                  <li>Data Visualization (incl. Shiny, Plotly)</li>
                  <li>Version Control Systems (Git)</li>
                  <li>Web Development (incl. Flask, Bootstrap)</li>
                  <li>Business Intelligence Software</li>
                  <li>Windows, Mac, and Linux Environments</li>
                </ul>
              </div>
              <div id="resume-soft-skills">
                <div class="resume-section-title">
                  <h3 class='resume-h3'>Soft Skills</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>Accomplished Public Speaker</li>
                  <li>Clearly and Effectively Articulate Technical Insights</li>
                  <li>Delivering against Hard Deadlines through Agile Development</li>
                  <li>Developing Analytic Solutions to Abstract Business Challenges</li>
                </ul>
              </div>
              <div id="resume-certifications">
                <div class="resume-section-title">
                  <h3 class='resume-h3'>Certifications</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>Java 8 Oracle Certified Professional</li>
                </ul>
              </div>
              <div id="resume-trainings">
                <div class="resume-section-title">
                  <h3 class='resume-h3'>Recent Trainings</h3>
                </div>
                <ul class="resume-left-list resume-personal-list">
                  <li>Data Engineering on Google Cloud Platform, Coursera</li>
                  <li>Developer Training for Spark and Hadoop, Cloudera</li>
                </ul>
              </div>
            </div>
            <div id="resume-right">
              <div id="resume-summary">
                <p id="resume-log-line">
                  Talented programmer with strong creative vision, robust mathematics and statistics background, and team driven
                  professional work environment experience. Adept public speaker with proficiency crafting persuasive
                  presentations for maximum understanding and engagement. Lifelong learner with passion and curiosity for all
                  things computer and data science.
                </p>
              </div>
              <div id="resume-education">
                <div class="resume-right-section-title">
                  <h2 class="resume-h2">Education</h2>
                </div>
                <div class="resume-school">
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">May 2019</p>
                    </div>
                    <div class="resume-sub-right">
                      <p class="resume-school-header resume-school-header-1">M. S. in Data Science</p>
                      <p class="resume-school-header resume-school-header-1 resume-school-header-2">
                        City University of New York (CUNY)
                      </p>
                      <p class="resume-school-header resume-school-header-2">School of Professional Studies, New York, NY</p>
                    </div>
                  </div>
                  <ul class="resume-ul">
                    <li>4.0 GPA</li>
                    <li>Courses: Machine Learning and Big Data, Data Management, Business Analytics</li>
                  </ul>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">Dec 2016</p>
                    </div>
                    <div class="resume-sub-right">
                      <p class="resume-school-header resume-school-header-1">M. S. in Educational Technology</p>
                      <p class="resume-school-header resume-school-header-1 resume-school-header-2">
                        Ramapo College of New Jersey
                      </p>
                      <p class="resume-school-header resume-school-header-2">Graduate School, Mahway, NJ</p>
                    </div>
                  </div>
                  <ul class="resume-ul">
                    <li>4.0 GPA</li>
                    <li>Courses: Data Analysis, Advanced Web Development, Information Visualization</li>
                  </ul>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">May 2011</p>
                    </div>
                    <div class="resume-sub-right">
                      <p class="resume-school-header resume-school-header-1">Ed. M. in Mathematics Education</p>
                      <p class="resume-school-header resume-school-header-1 resume-school-header-2">
                        Rutgers, The State University of New Jersey
                      </p>
                      <p class="resume-school-header resume-school-header-2">Graduate School of Education, New Brunswick, NJ</p>
                    </div>
                  </div>
                  <ul class="resume-ul">
                    <li>4.0 GPA</li>
                    <li>Courses: Problem Solving, Cultural Diversity, Methods of Teaching Secondary Math</li>
                  </ul>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">May 2007</p>
                    </div>
                    <div class="resume-sub-right">
                      <p class="resume-school-header resume-school-header-1">
                        B. A. in Computer Science w/ Statistics Minor
                      </p>
                      <p class="resume-school-header resume-school-header-1 resume-school-header-2">
                        Rutgers, The State University of New Jersey
                      </p>
                      <p class="resume-school-header resume-school-header-2">School of Sciences, New Brunswick, NJ</p>
                    </div>
                  </div>
                  <p></p>
                </div>
                <div id="resume-capstone">
                  <div class="resume-right-section-title">
                    <h2 class="resume-h2">Capstone Project</h2>
                  </div>
                  <div class="resume-capstone-text resume-honors-size">
                    Created comprehensive project for predicting and presenting hourly bike share usage rates based on historical data.
                    Utilizes numerous data science, machine learning, programming and cloud technologies in complete
                    end-to-end project.
                  </div>
                  <ul class="resume-ul">
                    <li>Utilized big data technologies to perform EDA and simplify ETL workflow</li>
                    <li>Developed ensemble classical machine learning and deep learning model</li>
                    <li>Built cloud based data pipeline to ingest, clean, store and predict on live data</li>
                    <li>Created Data Studio dashboard to provide live visualizations</li>
                  </ul>
                </div>
                <p></p>
                <div id="resume-experience">
                  <div class="resume-right-section-title">
                    <h2 class="resume-h2">Work History</h2>
                  </div>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">2011-2018</p>
                    </div>
                    <div class="resume-sub-right">
                      <p class="resume-school-header resume-school-header-1">AP Computer Science and AP Statistics Teacher</p>
                      <p class="resume-school-header resume-school-header-2">Summit Senior High School, Summit, NJ</p>
                    </div>
                  </div>
                  <ul class="resume-ul">
                    <li>Directed computer science program as sole teacher in district</li>
                    <li>Designed engaging, dynamic project-based learning curricula</li>
                    <li>100% passing rate on all Computer Science and Statistics AP exams</li>
                    <li>Program outreach grew student base from 15 students to over 100</li>
                    <li>Founder and coach of American Computer Science League (ACSL) team</li>
                  </ul>
                </div>
                <p></p>
                <div id="resume-honors">
                  <div class="resume-right-section-title">
                    <h2 class="resume-h2">Honors</h2>
                  </div>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">2015-2018</p>
                    </div>
                    <div class="resume-sub-right resume-honors-size">
                      <p>Four time National Merit Scholars honoree for Computer Science education</p>
                    </div>
                  </div>
                  <div class="resume-school-ele">
                    <div class="resume-sub-left">
                      <p class="resume-school-header">2011</p>
                    </div>
                    <div class="resume-sub-right resume-honors-size">
                      <p>Rutgers University Nancy Higginson Dorr Award for showing great promise of being an exceptional teacher</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}