{% extends 'macros/base.html' %}

{% block title %}
  - Resume
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1>Resume</h1>
        </div>
      </div>
      <div class="col-offset-1 col-12">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Contact Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class='fa fa-linkedin fa-x'></i> Linkedin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class='fa fa-github fa-x'></i> Github</a>
          </li>
        </ul>
      </div>
      <br/>
      <div class="col-offset-1 col-12">
        <img src="https://via.placeholder.com/1200x1600"/>
      </div>
    </div>
  </div>
{% endblock %}