{% extends 'macros/base.html' %}

{% block title %}
  - Project {{ project.title|title }}
{% endblock %}

{% block content %}
  <div id="page">
    <div class="container-fluid">
      <div class="col-offset-1 col-12">
        <div class="jumbotron">
          <h1 class="d-none d-md-block">
            {{ project.title|title }}
          </h1>
          <h4 class="d-md-none">
            {{ project.title|title }}
          </h4>
          <h4 class="d-none d-md-block">
            {{ project.description }}
          </h4>
          <h6 class="d-md-none">
            {{ project.description }}
          </h6>
        </div>
      </div>
      {{ super() }}
    </div>
    <div class="col-offset-1 col-12 d-none d-md-block">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item directions">
          <a class="nav-link {% if prev is none %} stay disabled" href="#"{% else %}" href="{{ url_for('main.display_project', slug=prev.slug) }}"{% endif %}><i class='fa fa-arrow-left fa-x'></i> Previous</a>
        </li>
        <li class="nav-item directions">
          <a class="nav-link" href="{{ url_for('main.projects') }}"><i class='fa fa-arrow-up fa-x'></i> Project List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active stay" href="{{ project.link }}" target="_blank"><i class='fa fa-github fa-x'></i> Github Repo - {{ project.title[:10] }}... </a>
        </li>
        <li class="nav-item directions">
          <a class="nav-link {% if next is none %} stay disabled" href='#' {% else %}" href="{{ url_for('main.display_project', slug=next.slug) }}"{% endif %}>Next <i class='fa fa-arrow-right fa-x'></i></a>
        </li>
      </ul>
    </div>
    <div class="col-offset-1 col-12 d-xs-block d-md-none">
      <ul class="nav nav-pills flex-column nav-fill static-items" aria-orientation="vertical">
        <li class="nav-item directions">
          <a class="nav-link {% if prev is none %} stay disabled" href="#"{% else %}" href="{{ url_for('main.display_project', slug=prev.slug) }}"{% endif %}><i class='fa fa-arrow-left fa-x'></i> Previous</a>
        </li>
        <li class="nav-item directions">
          <a class="nav-link" href="{{ url_for('main.projects') }}"><i class='fa fa-arrow-up fa-x'></i> Project List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active stay" href="{{ project.link }}" target="_blank"><i class='fa fa-github fa-x'></i> Github Repo - {{ project.title[:10] }}... </a>
        </li>
        <li class="nav-item directions">
          <a class="nav-link {% if next is none %} stay disabled" href='#' {% else %}" href="{{ url_for('main.display_project', slug=next.slug) }}"{% endif %}>Next <i class='fa fa-arrow-right fa-x'></i></a>
        </li>
      </ul>
    </div>
    <br/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-offset-1 col-12 col-md-9">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Abstract</h5>
              <div class="card-text">
                {% autoescape false %}
                  {{ project.abstract|replace('\\n', '<br/>') }}
                {% endautoescape %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tags</h5>
              <div class="card-text">
                <ul>
                  {% for ele in project.tag_list|sort(attribute='tag.tag') %}
                    <li>{{ ele.tag.tag }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      {% if images|length > 0 %}
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Image Samples
                </h5>
                {% for image in images %}
                  <img class="project-image"
                       src="{{ url_for('static', filename='project_images/{}/{}'.format(project.id, image)) }}"/>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <br/>
      {% endif %}
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Discussion
              </h5>
              <div class="card-text">
                {% autoescape false %}
                  {{ project.discussion|replace('\\n', '<br/>') }}
                {% endautoescape %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      {% if project.video != 'none' %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Video
            </h5>
            <div class="d-none d-md-block">
              <iframe width="560" height="315" src="{{ project.video }}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="d-md-none">
              <a href="{{ project.video|replace('embed/', 'watch?v=') }}" target="_blank"><h3>VIDEO</h3></a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <br/>
  <br/>
{% endblock %}