{% macro slide(image1, image2, line1, line2, active) %}
  <div class="carousel-item {{ active }}">
    <img class="carousel-image w-100 d-none d-md-block" src="{{ url_for('static', filename=image2) }}">
    <img class="carousel-image w-100 d-block d-md-none" src="{{ url_for('static', filename=image1) }}">
    <div class="carousel-caption d-block">
      <span class="card dark">
        <p class="line1">{{ line1 }}</p>
        <h5 class="line2">{{ line2 }}</h5>
      </span>
    </div>
  </div>
{% endmacro %}