{% macro build() %}
  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">
      <img src="{{ url_for('static', filename='favicon/favicon.ico') }}" width="30" height="30" class="align-top" alt="">
      <a id='brand-link' href="{{ url_for('main.index') }}">Brian's Data Science Site</a>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <li class='nav-link {% if request.path == '/' %}active{% endif %}' id='home-link'><a class='nav-link' href={{ url_for('main.index') }}>Home</a></li>
        <li class='nav-link {%  if request.path == '/projects' %}active{% endif %}' id="projects"><a class='nav-link' href={{ url_for('main.projects') }}>Portfolio</a></li>
        <li class='nav-link {%  if request.path == '/about-me' %}active{% endif %}' id="about-me"><a class='nav-link' href="{{ url_for('main.about_me') }}">About me</a></li>
        <li class='nav-link {%  if request.path == '/resume' %}active{% endif %}' id="resume"><a class='nav-link' href={{ url_for('main.resume') }}>Resume</a></li>
        <li class='nav-link {%  if request.path == '/certifications' %}active{% endif %}' id="certifications"><a class='nav-link' href={{ url_for('main.certifications') }}>Certifications</a></li>
        <li class='nav-link {%  if request.path == '/trainings' %}active{% endif %}' id="trainings"><a class='nav-link' href={{ url_for('main.trainings') }}>Trainings</a></li>
        <li class='nav-link {%  if request.path == '/api1' %}active{% endif %}' id="api1"><a class='nav-link' href={{ url_for('main.api1') }}>API</a></li>

      </ul>
    </div>
  </nav>
{% endmacro %}